<div class="container">
    <div class="row">
        <form action="/productos/create" method="post">
           <label for="nombre">nombre del producto</label>
        <input class="form-control" type="text" name="nombre" placeholder="nombre">
    
        <label for="descripcion">descripcion del producto</label>
        <input class="form-control" type="text" name="descripcion" placeholder="descripcion">
        
        <label for="precio">precio</label>
        <input class="form-control" type="text" name="precio" placeholder="precio">
        <br>
        <button class="btn btn-primary" type="submit">enviar</button>
        </form>
    </div>
</div>